FONT		
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 9px
	}
TD	
	{
	FONT-FAMILY: Verdana, Helvetica; 
	align:center;
	FONT-SIZE: 9px
	}	
H1
{
		FONT-SIZE: 14px
	}
TH	
	{
	FONT-FAMILY: Verdana, Helvetica; 
	FONT-SIZE: 9px
	}


BODY	
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 9px;
	FONT-COLOR: #00559B;
	BACKGROUND: #FFFFFF
	}
INPUT 
	{
	BORDER-TOP-COLOR: #00559B; 
	BORDER-LEFT-COLOR: #00559B; 
	BORDER-RIGHT-COLOR: #00559B; 
	BORDER-BOTTOM-COLOR: #00559B; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 9px;
	COLOR: #00559B;
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
TEXTAREA	
	{
	BORDER-TOP-COLOR: #00559B; 
	BORDER-LEFT-COLOR: #00559B; 
	BORDER-RIGHT-COLOR: #00559B; 
	BORDER-BOTTOM-COLOR: #00559B; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 9px;
	COLOR: #00559B;
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
SELECT 		
	{
	BORDER-TOP-COLOR: #00559B; 
	BORDER-LEFT-COLOR: #00559B; 
	BORDER-RIGHT-COLOR: #00559B; 
	BORDER-BOTTOM-COLOR: #00559B; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 9px;
	COLOR: #00559B; 
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
FORM 		
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 9px;
	COLOR: #015198
	}