FONT		
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 10px
	}
TD	
	{
	FONT-FAMILY: Verdana, Helvetica; 
	align:center;
	FONT-SIZE: 10px;
	color:#79D6F0
	}	
H1
{
		FONT-SIZE: 14px;
		color:#FFFFFF
	}
TH	
	{
	FONT-FAMILY: Verdana, Helvetica; 
	FONT-SIZE: 10px;
	color:#FFFFFF
	}


BODY	
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 10px;
	FONT-COLOR: #79D6F0;
	BACKGROUND: #003C50
	}
INPUT 
	{
	BORDER-TOP-COLOR: #79D6F0; 
	BORDER-LEFT-COLOR: #79D6F0; 
	BORDER-RIGHT-COLOR: #79D6F0; 
	BORDER-BOTTOM-COLOR: #79D6F0; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 10px;
	COLOR: #003C50;
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
TEXTAREA	
	{
	BORDER-TOP-COLOR: #79D6F0; 
	BORDER-LEFT-COLOR: #79D6F0; 
	BORDER-RIGHT-COLOR: #79D6F0; 
	BORDER-BOTTOM-COLOR: #79D6F0; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 10px;
	COLOR: #003C50;
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
SELECT 		
	{
	BORDER-TOP-COLOR: #79D6F0; 
	BORDER-LEFT-COLOR: #79D6F0; 
	BORDER-RIGHT-COLOR: #79D6F0; 
	BORDER-BOTTOM-COLOR: #79D6F0; 
	BORDER-TOP-WIDTH: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 10px;
	COLOR: #003C50; 
	BORDER-BOTTOM-WIDTH: 1px; 
	FONT-FAMILY: Verdana,Helvetica; 
	BORDER-RIGHT-WIDTH: 1px
	}
FORM 		
	{
	FONT-FAMILY: Verdana,Helvetica; 
	FONT-SIZE: 10px;
	COLOR: #015198
	}